.aboutWrapper {
  background-image: url(../../assets/images/pexels-photo-1143754.jpeg);
  background-size: cover;
  height: 85%;
  color: white;
  font-size: 1rem;
}
.darkLayer{
    background: rgba(0, 0, 0, 0.6);
}